$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.categories {
    .import {
        float: right;
        > div {
            cursor: pointer;
            padding: 7.5px;
            min-width: 100%;
            max-height: 4em;
        }
    }
    .category {
        padding-top: 15px;
    }
} 

