$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.profiles {
    .add-btn {
        float: right;
        cursor: pointer;
        margin-top: 20px;
    }
    .profile {
        padding-top: 15px;
        border-bottom: 1px solid $gray-lighter;
        a.add-btn {
            color:  lighten($gray-light, 25%)
        }
    }
} 

